
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_MasterUsuario.cshtml";
}

<div class="container" style="width:65%">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>Lugares</h4>
            <h5>Aquí podrás encontrar lugares de interés para ti y tu mascota</h5>
        </div>
        <div class="panel-body text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d71534.35181380673!2d-99.25933560447517!3d19.560441390919728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slugares%20para%20mascotas!5e0!3m2!1ses!2smx!4v1592095296541!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>

